<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
    <h2 align="center">직원 관리 메인 페이지</h2>
    <button onclick="location.href='member/searchId'">사원 번호로 해당 직원 조회</button>
    <button onclick="location.href='member/searchAll'">전 직원 조회</button>
    <button onclick="location.href='member/serchFindMember'">조건 별 직원 조회</button>
    <button onclick="location.href='member/save'">직원 추가</button>
    <button onclick="location.href='member/modify'">직원 수정</button>
    <button onclick="location.href='member/delete'">직원 삭제</button>



</body>
</html>